@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<section class="hero" id="hero">
    <h1>Welcome to RentABike</h1>
    <p>Rent a bike and explore the city in a fun and eco-friendly way!</p>
    <a class="btn button" asp-controller="Bikes" asp-action="Home">Explore Bikes</a>
    <script src="~/js/random-image.js" asp-append-version="true"></script>
</section>

