@model RentABikeWebApp.Models.Bike

@{
    ViewData["Title"] = "Details";
}
<div class="container">
<h1>Details</h1>

<div class="row">
    <h4>Bike</h4>
    <hr />
    <div class="col-md-4">
        <div class="card mb-4">
            @if (Model.Image != null && Model.Image.Length > 0)
            {
                <img src="data:image;base64,@Convert.ToBase64String(Model.Image)" alt="Bike Image" style="height:30em;width:auto" />
            }
            <div class="card-body">
                <h5 class="card-title">@Model.Type</h5>
                <p class="card-text">Price Per Hour: @Model.PricePerHour</p>
                <p class="card-text">Status: @Model.Status</p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Edit</a> |
    <a asp-action="Index" class="btn btn-warning">Back to List</a>
</div>
</div>